body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 98%;
    background: url("https://img.freepik.com/free-vector/realistic-white-and-golden-geometric-background_79603-2032.jpg?w=826&t=st=1695893198~exp=1695893798~hmac=df4fa877d54ddcbb9b6252ee7cf6fc991d69e18c88546096c44de94d1e75f7c0");
    position: absolute;
    background-size: cover;
}

.main {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userDetails {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    width: 30vw;
    background: #f5f5f6;
}

#userDetails.clicked {
    cursor: default;
}

#userDetails:hover:not(.clicked) {
    cursor: pointer;
}

.arrow-button {
    font-size: 50px;
    cursor: pointer;
    margin: 0 10vw 0 10vw;
}

.home-button {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5vw;
    color: #000000;
    text-decoration: none;
}

.arrow-button {
    cursor: pointer;
}

#postButton {
    width: 90%;
    margin: 10px auto;
    display: block;
}

.post {
    display: inline-block;
    width: 15vw;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ededee;
    position: relative;
}

#postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.post h3::first-letter {
    text-transform: uppercase
}

.post p::first-letter {
    text-transform: uppercase
}

.post button {
    margin-top: -5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.viewBut {
    width: 200px;
    height: 20px;
}